{% extends 'base.html' %}
{% load static %}

{% block titulo %}Acceder{% endblock %}

{% block contenido %}
    <div class="formulario">
        <h1>Inicio de sesion</h1>
        <form method="get" action="{% url 'indexcliente' %}">
            <div class="username mb-2">
                <label class="form-label">Correo</label>
                <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com" onblur="validarFormulario()">
                <div class="text-danger" id="msgcorreo"></div>
            </div>
            <div class="username mb-2">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="passwd" onblur="validarFormulario()">
                <div class="text-danger" id="msgcontraseña"></div>
            </div>
            <div class="recordar">
                <a href="{% url 'recuperar' %}">¿Olvidó su contraseña?</a>
            </div>
            <button class="btn btn-success" type="submit"id="btnsubmit" onclick="return validarFormulario()">Acceder</button>
            <div class="registrate">
                <a href="{% url 'registro' %}">Registrate</a>
            </div>
        </form>
    </div>
{% endblock %}