{% extends 'base.html' %}
{% load static %}

{% block titulo %}Macateros{% endblock %}

{% block contenido %}

    <div class="container p-3 my-3 border text-dark text-center">
        <div class="gallery">
            <div class="content">
                <img src="{% static 'imagen/maceteros/macetero3.png' %}" id="imgn">
                <p>Macetero Enlozado</p>
                <h6>$6.990</h6>
                <a href="{% url 'acceder' %}">
                    <button class="buy-1" id="btn">Comprar</button>
                </a>
            </div>

            <div class="content">
                <img src="{% static 'imagen/maceteros/macetero.png' %}" id="imgn">
                <p>Macetero Biodegradable</p>
                <h6>$4.570</h6>
                <a href="{% url 'acceder' %}">
                    <button class="buy-2" id="btn">Comprar</button>
                </a>
            </div>

            <div class="content">
                <img src="{% static 'imagen/maceteros/macetero2.png' %}" id="imgn">
                <p>Macetero Plastico</p>
                <h6>$2.990</h6>
                <a href="{% url 'acceder' %}">
                    <button class="buy-3" id="btn">Comprar</button>
                </a>
            </div>

            <div class="content">
                <img src="{% static 'imagen/maceteros/macetero4.png' %}" id="imgn">
                <p>Macetero Colgante</p>
                <h6>$2.990</h6>
                <a href="{% url 'acceder' %}">
                    <button class="buy-4" id="btn">Comprar</button>
                </a>
            </div>
        </div>
    </div>
    <div>
{% endblock %}