{% extends 'base.html' %}
{% load static %}

{% block titulo %}Suculentas{% endblock %}

{% block contenido %}
    <div class="container p-3 my-3 border text-dark text-center">
        <div class="gallery">
            <div class="content">
                <img src="{% static 'imagen/suculentas/suculenta1.png' %}" id="imgn">
                <p>Argyroderma</p>
                <h6>$3.000</h6>
                <a href="{% url 'acceder' %}">
                    <button class="buy-1" id="btn">Comprar</button>
                </a>
            </div>

            <div class="content">
                <img src="{% static 'imagen/suculentas/suculenta2.png' %}" id="imgn">
                <p>Cactáceas</p>
                <h6>$3.000</h6>
                <a href="{% url 'acceder' %}">
                    <button class="buy-1" id="btn">Comprar</button>
                </a>
            </div>

            <div class="content">
                <img src="{% static 'imagen/suculentas/suculenta3.png' %}" id="imgn">
                <p>Lithops</p>
                <h6>$3.000</h6>
                <a href="{% url 'acceder' %}">
                    <button class="buy-1" id="btn">Comprar</button>
                </a>
            </div>

            <div class="content">
                <img src="{% static 'imagen/suculentas/suculenta4.png' %}" id="imgn">
                <p>Sempervivum</p>
                <h6>$3.000</h6>
                <a href="{% url 'acceder' %}">
                    <button class="buy-1" id="btn">Comprar</button>
                </a>
            </div>
        </div>
    </div>
    <div>
{% endblock %}