{% extends 'base.html' %}
{% load static %}

{% block titulo %}Sustratos{% endblock %}

{% block contenido %}
    <div class="container p-3 my-3 border text-dark text-center">
    <div class="gallery">
        <div class="content">
            <img src="{% static 'imagen/sustratos/abono.png' %}" id="imgn">
            <p>Abono Bokashi 20 Litros</p>
            <h6>$32.990</h6>
            <a href="{% url 'acceder' %}">
                            <button class="buy-1" id="btn">Comprar</button>
        </a>
        </div>

        <div class="content">
            <img src="{% static 'imagen/sustratos/mecplan.png' %}" id="imgn">
            <p>Macetero Biodegradable 10KG</p>
            <h6>$16.490</h6>
            <a href="{% url 'acceder' %}">
            <button class="buy-2" id="btn">Comprar</button>
        </a>
        </div>

        <div class="content">
            <img src="{% static 'imagen/sustratos/vitasac.png' %}" id="imgn">
            <p>Fertilizante para flores</p>
            <h6>$2.490</h6>
            <a href="{% url 'acceder' %}">
            <button class="buy-3" id="btn">Comprar</button>
        </a>
        </div>

        <div class="content">
            <img src="{% static 'imagen/sustratos/vitasac2.png' %}" id="imgn">
            <p>Fertilizante para plantas</p>
            <h6>$3.690</h6>
            <a href="{% url 'acceder' %}">
            <button class="buy-4" id="btn">Comprar</button>
        </a>
        </div>
    </div>
</div>
<div>
{% endblock %}
